$cBrand = #ff6b6b  // 主色：粉红，影响边框、链接等
$borderColor = $cBrand  // 边框专用变量


cCamerasManager、m_DeviceManager，其实是 匈牙利命名法 风格的命名，常用于大型 C++ 项目。
m是实例
CCamerasManager::GetInstance();意思是只能创建一个可以加上个小c


线程函数必须用这种“万能指针”的方式，既能接收任意类型数据，也能返回任意类型结果。
主线程是程序启动时唯一存在的线程
它先做 初始化工作：
初始化变量、类、配置、资源
建立队列、锁、相机管理器等
最后等待join结束